.Button{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    white-space:  nowrap;
    font-weight: bold;
}

.Button_POSITIVE{
    background-color: rgb(203, 170, 203);
    color: white;
}

.Button_NEGATIVE{
    background-color: rgb(243, 176, 195);
    color: white;
}

.Button_LOGOUT{
    background-color: rgb(243, 176, 195);
    color: white;
    
}